html
  head
    title Profile
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style/style.css')

  body
  h1.hello Hello #{user.first}!
  a(href="/" id="logout") Logout

  form(name="new-task" id="new-task")
    p.new-task-status
    div.title
      label.inputLabel Task Title
      input.titleInput(type="text" name="title" id="title")
    div.description 
      label.inputLabel Task Description
      input.titleInput(type="text" name="description"  id="description")
    div.dateTime
      label.inputLabel Task Deadline
      input.titleInput(type="datetime-local" name="dateTime" id="dateTime")
    input(type="submit" id="submitTask")
  form(name="new-tag" id="new-tag")
    form.newTag 
      p.new-tag-status
      label#addCustomTagsLabel
      input#addCustomTagsName(type="text")
      input#addCustomTagsColor(type="color")
  div.tags
    div#displayTags
      p#tagsInput Choose your tags
      each val in tags
        -let tag = val.name
        -let tagId = `#${tag}`
        -let tagColor = val.color
        -let tagColorStyle = `background-color:${tagColor}`
        //- label(class="tag" for=tagId)  #{tag}
        div.tagInner(name=tag data-tagname=tag data-isTrue="false" id=tag type="checkbox" )
          span.tagColor(style=tagColorStyle)
          p #{tag}
    
          
script(src="/js/global.cs.js")
script(src="/js/profile.cs.js")



  